---
layout: default
---

<article class="post">
  <h3>{{ page.title }}</h3>
  <div class="entry">
    {{ content }}
  </div>
  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }} {% if page.author %} by {{ page.author }} {% endif %}.
  </div>
</article>

{% if page.comments %}
  <script src="https://utteranc.es/client.js"
          repo="allan-mobley-jr/hucklepuck"
          issue-term="pathname"
          theme="github-light"
          crossorigin="anonymous"
          async>
  </script>
{% endif %}